# Convert string to camel case

### DESCRIPTION:
Complete the method/function so that it converts dash/underscore delimited words into camel casing. The first word within the output should be capitalized only if the original word was capitalized (known as Upper Camel Case, also often referred to as Pascal case). The next words should be always capitalized.

### Examples

"the-stealth-warrior" gets converted to "theStealthWarrior"
"The_Stealth_Warrior" gets converted to "TheStealthWarrior"

https://www.codewars.com/kata/517abf86da9663f1d2000003

In [1]:
def to_camel_case(text):
    res = ''
    i = 0
    while(i < len(text)):
        if text[i] == '-' or text[i] == '_' and i != len(text)-1:
            res += text[i+1].upper()
            i += 1
        else:
            res += text[i]
        i += 1
    return res

In [2]:
to_camel_case('the-stealth-warrior')

'theStealthWarrior'

# Square Every Digit

### DESCRIPTION:
Welcome. In this kata, you are asked to square every digit of a number and concatenate them.

For example, if we run 9119 through the function, 811181 will come out, because 92 is 81 and 12 is 1.

Note: The function accepts an integer and returns an integer

https://www.codewars.com/kata/546e2562b03326a88e000020

In [3]:
def square_digits(num):
    return int(''.join([str(int(n)**2) for n in str(num)]))

In [4]:
square_digits(9119)

811181

# Decode the Morse code

### DESCRIPTION:

In this kata you have to write a simple Morse code decoder. While the Morse code is now mostly superseded by voice and digital data communication channels, it still has its use in some applications around the world.
The Morse code encodes every character as a sequence of "dots" and "dashes". For example, the letter A is coded as ·−, letter Q is coded as −−·−, and digit 1 is coded as ·−−−−. The Morse code is case-insensitive, traditionally capital letters are used. When the message is written in Morse code, a single space is used to separate the character codes and 3 spaces are used to separate words. For example, the message HEY JUDE in Morse code is ···· · −·−−   ·−−− ··− −·· ·.

NOTE: Extra spaces before or after the code have no meaning and should be ignored.

In addition to letters, digits and some punctuation, there are some special service codes, the most notorious of those is the international distress signal SOS (that was first issued by Titanic), that is coded as ···−−−···. These special codes are treated as single special characters, and usually are transmitted as separate words.

Your task is to implement a function that would take the morse code as input and return a decoded human-readable string.

### For example:

decode_morse('.... . -.--   .--- ..- -.. .')
#should return "HEY JUDE"

https://www.codewars.com/kata/54b724efac3d5402db00065e

In [5]:
def decodeMorse(morse_code):
    return ''.join([MORSE_CODE[code] if code != '|' else ' ' for code in morse_code.lstrip().replace('   ', ' | ').split()])

# Your order, please

### DESCRIPTION:

Your task is to sort a given string. Each word in the string will contain a single number. This number is the position the word should have in the result.

Note: Numbers can be from 1 to 9. So 1 will be the first word (not 0).

If the input string is empty, return an empty string. The words in the input String will only contain valid consecutive numbers.

### Examples

```
"is2 Thi1s T4est 3a"  -->  "Thi1s is2 3a T4est"
"4of Fo1r pe6ople g3ood th5e the2"  -->  "Fo1r the2 g3ood 4of th5e pe6ople"
""  -->  ""
```

https://www.codewars.com/kata/55c45be3b2079eccff00010f

In [6]:
def order(sentence):
    import re
    res = {}
    for w in sentence.split():
        res[int(re.findall(r'\d', w)[0])] = w
    return ' '.join([res[i] for i in range(1, len(res.keys()) + 1)])

In [7]:
order('is2 Thi1s T4est 3a')

'Thi1s is2 3a T4est'

In [8]:
order('4of Fo1r pe6ople g3ood th5e the2')

'Fo1r the2 g3ood 4of th5e pe6ople'

# Multiples of 3 or 5

#### DESCRIPTION:

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in. Additionally, if the number is negative, return 0 (for languages that do have them).

Note: If the number is a multiple of both 3 and 5, only count it once.

https://www.codewars.com/kata/514b92a657cdc65150000006

In [9]:
def solution(number):
    num_set = set()
    for i in range(3, number, 3):
        num_set.add(i)
    for i in range(5, number, 5):
        num_set.add(i)
    return sum(num_set)

In [10]:
solution(10)

23

# Persistent Bugger.

#### DESCRIPTION:
Write a function, persistence, that takes in a positive parameter num and returns its multiplicative persistence, which is the number of times you must multiply the digits in num until you reach a single digit.

#### For example (Input --> Output):

    39 --> 3 (because 3*9 = 27, 2*7 = 14, 1*4 = 4 and 4 has only one digit)
    999 --> 4 (because 9*9*9 = 729, 7*2*9 = 126, 1*2*6 = 12, and finally 1*2 = 2)
    4 --> 0 (because 4 is already a one-digit number)

https://www.codewars.com/kata/55bf01e5a717a0d57e0000ec

In [11]:
def persistence(n):
    res = 0
    n = [int(x) for x in str(n)]
    while len(n) != 1:
        z = 1
        for y in n:
            z = y * z
        n = [int(x) for x in str(z)]
        res += 1
    return res

In [12]:
persistence(39)

3

# Build Tower

#### DESCRIPTION:

Build Tower
Build a pyramid-shaped tower, as an array/list of strings, given a positive integer number of floors. A tower block is represented with "*" character.

For example, a tower with 3 floors looks like this:

    [
      "  *  ",
      " *** ", 
      "*****"
    ]
    
And a tower with 6 floors looks like this:

    [
      "     *     ", 
      "    ***    ", 
      "   *****   ", 
      "  *******  ", 
      " ********* ", 
      "***********"
    ]

https://www.codewars.com/kata/576757b1df89ecf5bd00073b

In [13]:
def tower_builder(n_floors):
    return [' ' * (n_floors-i-1) + '*' * (i*2+1) + ' ' * (n_floors-i-1) for i in range(n_floors)]

In [14]:
tower_builder(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [17]:
print('\n'.join(tower_builder(5)))

    *
   ***
  *****
 *******
*********